body {
    font-family: Arial;
}

canvas {
    border: 1px solid black;
}

#time {
    display: none;
}

form {
    display: none;
    position: absolute;
    right: 16rem;
    top: 8rem;
}

#score {
    position: absolute;
    right: 50%;
    top: 31rem;
}